{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href={% static 'modir/css/custom.css'%}>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% block main %}


    <center><h3>ایجاد کاربر جدید </h3></center>
    <br>
    
            <form action="" method=POST>
                
                
                {% csrf_token %}
                
                
                <div class="form-row">

                    <div class="form-group col-lg-4">
                        <label for="">کد پرسنلی :</label>
                        {{form.personalcode}}
                    </div>
                    
                    <div class="form-group col-lg-4">
                        <label for="">نام :</label>
                        {{form.first_name}}
                    </div>

                    <div class="form-group col-lg-4">
                        <label for="">نام خانوادگی :</label>
                        {{form.last_name}}
                    </div>

                </div>
           


                <div class="form-row">

                    <div class="form-group col-lg-4">
                        <label for="">ایمیل  :  </label>
                        {{form.email}}
                    </div>

                    <div class="form-group col-lg-8">
                        <label for="">آدرس  :  </label>
                        {{form.address}}
                    </div>
                    
                </div>

                <div class="form-row">

                    <div class="form-group col-lg-4">
                        <label for="">نام کاربری  :  </label>
                        {{ form.username }}
                    </div>

                    <div class="form-group col-lg-4">
                        <label for="">رمز عبور  :  </label>
                        {{ form.password1 }}
                    </div>

                    <div class="form-group col-lg-4">
                        <label for="">تکرار رمز عبور  :  </label>
                        {{ form.password2 }}
                    </div>

                    
                </div>

                <div class="form-row">

                    <div class="form-group col-lg-4">
                        <label for="">شماره موبایل  :  </label>
                        {{ form.mobileNumber }}
                    </div>

                    <div class="form-group col-lg-4">
                        <label for="">تلفن  :  </label>
                        {{ form.phoneNumber }}
                    </div>

                    <div class="form-group col-lg-4">
                        <label for="">سطح دسترسی  :  </label>
                        {{form.groups}}
                    </div>
                </div>



                <input class="btn btn-primery" type="submit" value="ثبت کاربر جدید" >
            
        </form>

        <!-- <center><div class="alert alert-warning" role="alert">
            <h3>
            شما به این صفحه دسترسی ندارید لطفا برای برگشت 
            <a href={% url 'modir:home' %} class="alert-link">کلیک</a>
            کنید</h3>
          </div> </center>!-->
        




{% endblock %}