{% extends "base.html" %}
{% load static %}

{% block main %}



        <style>
            .selectTag {
                float: left;
                margin-left: 10px;
                font-family: yekan;
                font-size: 10 . pt;
                padding: 1px;
            }
        </style>
        <aside class="lg-side">
            <div class="inbox-head">
                <div class="mail-option">
                    <div>
                        <p class="title">
                            مدیریت دبیرخانه ها
                        </p>
                        <a class="btn btn-info" style="float: left; " onclick="submitFormMulti();">
                            اجرای عملیات
                        </a>

                        <select class="selectTag" name="action">
                            <option value="1"> حذف  </option>
                        </select>
                        <a href={% url 'modir:addDabirkhone' %} class="btn btn-info" style="float: right;margin-left:15px; ">
                            دبیرخانه جدید        </a>
                        <script>
                            function submitFormMulti() {
                                var actionSelected = $('.selectTag option:selected').val();
                                var action = '';
                                if (actionSelected == 1) {
                                    action = 'deleteDabir';
                                }
                                var form = $('form');
                                form.attr('action', action);
                                form.submit();
                            }
                        </script>
                    </div>
                </div>
            </div>

            <form action="" method="post">
                <div class="inbox-body">
                    
                    <table class="table   table-hover">
                        <tbody>
                        <tr class="row_header">
                            <td class="view-message">نام دبیرخانه</td>
                            <td class="view-message">نام کاربر </td>
                            <td class="view-message">حرف شماره نامه وارده</td>
                            <td class="view-message">حرف شماره نامه داخلی</td>
                            <td class="view-message">حرف شماره نامه صادره</td>
                            <td class="view-message">شماره نامه آغازین</td>
                            <td class="view-message">پست انتصاب داده شده</td>
                            <td class="view-message ">انتخاب </td>
                        </tr>
                        {% for Dabir in dabir %}
                            {% for post in Post %}
                            <tr>
                                <td>{{Dabir.name}}</td>
                                <td>{{Dabir.choiceDabirKhone}}</td>
                                <td>{{Dabir.harfVarede}}</td>
                                <td>{{Dabir.harfShomareDakheli}}</td>
                                <td>{{Dabir.harfShomareSadere}}</td>
                                <td>{{Dabir.shomareNameAghazin}}</td>
                                <td>{{post.post}}</td>
                                
                                <td>
                                    <input type="checkbox" name="id[]" value="1">
                                    <a href="addDabirkhone/1"><i class="icon-edit"></i></a>
                                </td>
                                {% endfor %}
                                {% endfor %}
                            
                                                    </tbody>

                    </table>
                    
                </div> 
            </form>
        </aside>

  

{% endblock %}