{% extends "base.html" %}




{% block main %}
      

       
            

                <style>
                    .selectTag {
                        float: left;
                        margin-left: 10px;
                        font-family: yekan;
                        font-size: 10 . pt;
                        padding: 1px;
                    }
                </style>
                <aside class="lg-side">
                    <div class="inbox-head">
                        <div class="mail-option">
                            <div>
                <p class="title">
                        مدیریت سلسله مراتب
                </p>
                <a class="btn btn-info" style="float: left; " >
                    اجرای عملیات
                </a>

                <select class="selectTag" name="action">
                    <option value="1"> حذف  </option>
                </select>
                <a href={% url 'modir:new_level'%} class="btn btn-info" style="float: right;margin-left:15px; ">
                    پست جدید        </a>
                <script>
                    function submitFormMulti() {
                        var actionSelected = $('.selectTag option:selected').val();
                        var action = '';
                        if (actionSelected == 1) {
                            action = 'deleteLevel';
                        }
                        var form = $('form');
                        form.attr('action', action);
                        form.submit();
                    }
                </script>
                            </div>
                        </div>
                    </div>

                    <table class="table   table-hover">
                        <tbody>
                        <tr class="row_header">
                            <td class="view-message">سمت</td>
                            <td class="view-message">نام محترمانه</td>
                            <td class="view-message">حق امضا</td>
                            <td class="view-message">ریشه</td>
                            
                        </tr>
                        {% for level in Level %}
                            
                            <tr>
                                <td>{{level.name}}</td>
                                <td>{{level.nameplz}}</td>
                                {% if level.sign %}
                                <td>دارد</td>
                                {% else %}
                                <td>ندارد</td>
                                {% endif %}
                                <td>{{level.root}}</td>
                                
                                <td>
                                    <input type="checkbox" name="id[]" value="1">
                                    <a href="addDabirkhone/1"><i class="icon-edit"></i></a>
                                </td>
                                
                                {% endfor %}
                            
                                                    </tbody>

                    </table>
                </aside>
           
        

{% endblock %}